.shakeAnimation {
  animation: shake 0.2s linear both;
}

.successAnimation {
  animation: successTextAnim 1s linear both;
}
.starAnimation {
  animation: starAnim 0.25s linear both;
}

@keyframes shake {
  10% {
    transform: translate3d(-4px, 0, 0);
  }
  20% {
    transform: translate3d(4px, 0, 0);
  }
  30% {
    transform: translate3d(-4px, 0, 0);
  }
  40% {
    transform: translate3d(4px, 0, 0);
  }
  40% {
    transform: translate3d(-4px, 0, 0);
  }
  60% {
    transform: translate3d(4px, 0, 0);
  }
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  80% {
    transform: translate3d(4px, 0, 0);
  }
  90% {
    transform: translate3d(-4px, 0, 0);
  }
  100% {
    transform: translate3d(-0px, 0, 0);
  }
}

@keyframes successTextAnim {
  0% {
    transform: scale(1.3);
  }
  10% {
    transform: scale(1);
  }
  95% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes starAnim {
  0% {
    transform: scale(0.4);
    opacity: 0.2;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    transform: scale(1.25);
    opacity: 0;
  }
}
