@font-face {
  font-family: 'LabradorA-Medium';
  src: local('LabradorA-Medium'),
    url(./fonts/LabradorA-Medium.ttf) format('truetype');
}

.hidden {
  display: none;
}

html,
body,
#root {
  min-height: 100vh;
  min-width: 100%;
}
